{% extends "base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load recordtrace_xtras %}

{% block header %}<a href="{% url 'recordtrace:index' %}">Home</a> › <a href="{% url 'recordtrace:projects' %}">Projects</a> › <a href="{{ docurl }}" target="_blank">{{ docurl }}</a> › User Activity{% endblock %} 



{% url 'recordtrace:projJSON' docurl as the_JSON_url %}


{% block buttons %}
    <!--
    <div class='btn-group' style='margin-bottom:20px;'>
        <div class='btn disabled'><i class="icon-eye-open"></i> Explore</div>
        <div class='btn'>
            <a href="{% url 'recordtrace:projJSON' docurl %}" target="_blank">
                <i class="icon-download"></i> JSON 
            </a>
        </div>
        <div class='btn'>
            <a href="{% url 'recordtrace:projCSV' docurl %}" target="_blank">
                <i class="icon-download"></i> CSV
            </a>
        </div>
    </div>
    -->
{% endblock %}


{% block content %}
<!-- RESET HERE
<div id="viz"></div>
-->
       

    {% block thead %}

    <!-- full_csv HERE -->
    {% url 'recordtrace:downloadFULLCSV' docurl|base64_encode as full_csv %}

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Individual Browser Connections (UUId)</th>
                <th>User Id</th>
                <th class="sortable"><i class="icon-minus"></i> Total Sessions #</th>
                <th class="sortable"><i class="icon-minus"></i> Total Traces #</th>
                <th class="sortable"><i class="icon-minus"></i> User Traces #</th>
                <th class="sortable"><i class="icon-minus"></i> System Traces #</th>
                <th>Download—<i class="icon-download"></i> <a href="{{ full_csv }}">ALL (CSV)</a></th>
            </tr>
        </thead>
        <tbody>

    {% endblock %}





<!-- GENERATE THE TABLE -->
{% if sessions %}


    {% for session in sessions %}
        {% if session.count_sessions < 1 %}
            {% url 'recordtrace:session' session.session as the_url %}
        {% else %}
            {% url 'recordtrace:unique_session' uuid=session.session  proj_url=session.doc_url|base64_encode as the_url %} 
            {# {% url 'recordtrace:sessionvis' session.id as the_url %} #}

        {% endif %}

        <tr class="noshow">
            <td class="main-td" onmouseover="highlight('{{ session.session }}')" onmouseout="dimm('{{ session.session }}')"><a href="{{ the_url }}">{{ session.session }}</a></td>
            <td onmouseover="highlight('{{ session.session }}')" onmouseout="dimm('{{ session.session }}')">{{ session.id }}</td>
            <td onmouseover="highlight('{{ session.session }}')" onmouseout="dimm('{{ session.session }}')"><span class="text-error">{{ session.count_sessions }}</span></td>
            <td onmouseover="highlight('{{ session.session }}')" onmouseout="dimm('{{ session.session }}')"><span class="text-error">{{ session.count_events }}</span></td>
            <td onmouseover="highlight('{{ session.session }}')" onmouseout="dimm('{{ session.session }}')"><span class="text-error">{{ session.user_events }}</span></td>
            <td onmouseover="highlight('{{ session.session }}')" onmouseout="dimm('{{ session.session }}')"><span class="text-error">{{ session.system_events }}</span></td>
            <td onmouseover="highlight('{{ session.session }}')" onmouseout="dimm('{{ session.session }}')"><i class="icon-download"></i> <a href="{% url 'recordtrace:downloadCSV' session.id %}" target="_blank">CSV</a> | <a href="{% url 'recordtrace:downloadJSON' session.id %}" target="_blank">JSON</a></td>
        </tr>




    {% endfor %}
{% else %}
    <tr>
        <td colspan="7">No sessions are available.</td>
    </tr>
{% endif %}

        </tbody>
    </table>

    <script type="text/javascript">

        var _nodeList = Array.prototype.slice.call(d3.select("thead tr").node().children);

        var tables = document.getElementsByTagName('table');
        var table = tables[tables.length -1];
        var rows = table.rows;
        for(var i = 0, td; i < rows.length; i++){
            if(i!==0){
                td = document.createElement('td');
                td.appendChild(document.createTextNode(i));
                rows[i].insertBefore(td, rows[i].firstChild);
            }else{
                th = document.createElement('th');
                th.appendChild(document.createTextNode('#'));
                rows[i].insertBefore(th, rows[i].firstChild);
            }
        };

        d3.selectAll(".main-td")
        .each(function(){
            var _url = d3.select(this).select("a").html();
            var _url1 = _url.split("://")[1];
            var _data = _url.replace(/([.*+?^=!:${}()|\[\]\/\\])/g," ");
            _data = _data.toLowerCase();
            _data = _data.split(" ");

            d3.select(this.parentNode).datum(_data);
        });

        d3.selectAll(".sortable")
        .on("mouseover",function(){
            var _sel = d3.select(this),
                _i = _sel.select("i");
            if(_i.classed("icon-minus") == true){
                _sel.style("cursor","s-resize");
            }else if(_i.classed("icon-chevron-down") == true){
                _sel.style("cursor","n-resize");
            }else{
                _sel.style("cursor","row-resize");
            };
        })
        .on("mouseup",function(){

            var _sel = d3.select(this),
                _i = _sel.select("i"),
                _idx = _nodeList.indexOf(_sel.node()) + 1;

            var _tbody = d3.select(this.parentNode.parentNode.parentNode).select("tbody").node();
            if(_i.classed("icon-minus") == true){
                sort_table(_tbody,_idx,true);

                d3.selectAll(".sortable:not(.temp)")
                .select("i")
                .attr("class","icon-minus");

                _i.attr("class","icon-chevron-down");
            }else if(_i.classed("icon-chevron-down") == true){
                sort_table(_tbody,_idx,false);

                d3.selectAll(".sortable:not(.temp)")
                .select("i")
                .attr("class","icon-minus");

                _i.attr("class","icon-chevron-up");
            }else{
                sort_table(_tbody,0,true); 

                d3.selectAll(".sortable:not(.temp)")
                .select("i")
                .attr("class","icon-minus");

                _i.attr("class","icon-minus");
            };

            return null;
        });

    </script>


    <div class="pagination">
        <span class="step-links">
            {% if sessions.has_previous %}
                <a href="?page={{ sessions.previous_page_number }}">‹ previous</a>
            {% endif %}

            <span class="current">
                Page {{ sessions.number }} of {{ sessions.paginator.num_pages }}.
            </span>

            {% if sessions.has_next %}
                <a href="?page={{ sessions.next_page_number }}">next ›</a>
            {% endif %}
        </span>
    </div>


<!-- VISUALIZATION STUFF -->

<!-- GENERATE THE VISUALIZATION -->
<script src="{% static 'recordtrace/projvis.js' %}"></script>

<script type="text/javascript">
    function setProgress(){
        // MORE INFO AT https://gist.github.com/mbostock/3750941
        var meter = svg.append("g")
            .attr("class", "progress-meter")
            .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")");

        meter.append("image")
            .attr("width",300)
            .attr("height",215)
            .attr("x",-300/2)
            .attr("y",-215/2)
            .attr("xlink:xlink:href","{% static 'recordtrace/progress.gif' %}")
         
        var text = meter.append("text")
            .attr("text-anchor", "middle")
            .attr("dy", ".35em")
            .attr("y",40)
            .text("Please wait as this may take a while.")
    };

    // THIS IS WHAT NEEDS TO BE RESET
    /*setProgress();
    d3.json("{% url 'recordtrace:projDJSON' docurl|base64_encode %}",visualizeSession);*/
    


    /*d3.json("{% url 'recordtrace:projDJSON' docurl|base64_encode %}")
    .on("progress", setProgress)
    .on("load", function(json) { visualizeSession(json) })
    .on("error", function(error) { console.log("failure!", error); })
    .get();*/
    function highlight(what){
        var color = d3.scale.category20b(),
            _session_num = new Array();

        what = what.replace(/\W/g, '').toLowerCase();
        d3.selectAll("rect.u-" + what)
            .each(function(d,i){
                var _sel = d3.select(this),
                    _sess = d.sessionID - 1;
                if(_sel.classed("end-point") === false){
                    _sel.style("fill",function(){
                        //return d3.rgb("#0088CC").brighter(_sess/5);
                        return color(d.sessionID);
                    })
                    .style("opacity",0.75);
                }else if(_sel.classed("end-point") === true){
                    _sel.style("fill",function(){
                        return "firebrick";
                    })
                    .style("opacity",0.75);

                    var _selX = _sel.attr("x"),
                        _t = d3.transform(_sel.attr("transform")),
                        _x = _t.translate[0],
                        _y = _t.translate[1],
                        _offX = +_selX + +_x;

                    svg.append("rect")
                        .attr("class","end-txt")
                        .attr("x",_offX - 3)
                        .attr("y",_activityHeight + margin.bottom + margin.top - 14)
                        .attr("width",80)
                        .attr("height",14)
                        .style("fill","#FFF");

                    svg.append("text")
                        .attr("class","end-txt")
                        .attr("x",_offX)
                        .attr("y",_activityHeight + margin.bottom + margin.top - 3)
                        .attr("text-anchor",function(){
                            if(_offX > w/2){
                                return "end";
                            }else{
                                return "start";
                            };
                        })
                        .text("End Session: " + (d.sessionID + 1) )
                        .style("font-size","11px");
                };

                if(_session_num.indexOf(d.sessionID) === -1){
                    _session_num.push(d.sessionID);
                }

                return null;
            })
            .moveToFront();

        d3.selectAll(".point:not(.u-" + what + ")")
            .style("opacity",0.1);

        var _legend = d3.select(".legend").select("p");

        _session_num.forEach(function(d){
            _legend.append("span")
                .html("&#x258e;session&nbsp;" + (d+1) + " ")
                .style("color",color(d))
                .style("margin-right","15px");
            return null;
        });

        return null;
    };
    function dimm(what){
        what = what.replace(/\W/g, '').toLowerCase();
        d3.selectAll("rect.u-" + what)
            .style("fill",null);
        d3.selectAll(".point")
            .style("opacity",0.5);
        d3.selectAll(".end-point")
            .style("opacity",0);
        d3.selectAll(".end-txt")
            .remove();

        var _legend = d3.select(".legend p").selectAll("span").remove();
        return null;
    }


</script>

{% endblock %}

